@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>

    .about-container {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 5px;
        background-color: #f9f9f9;
        text-align: center; /* Center align content */
        font-family: 'CustomFont', sans-serif; /* Apply custom font */
    }

    .about-title {
        font-size: 24px;
        margin-bottom: 20px;
        color: #333;
    }

    .about-content {
        font-size: 16px;
        line-height: 1.6;
        color: #666;
    }

    .about-image {
        margin-top: 20px;
        max-width: 100%;
        height: auto;
    }
</style>

<div class="about-container">
    <h2 class="about-title">About Us</h2>

    

    <p class="about-content">Welcome to Our CommVas! We are dedicated to providing high-quality products and excellent service to our customers.</p>

    <p class="about-content">Our mission is to exceed our customers' expectations by delivering innovative solutions and superior customer service.</p>

    <p class="about-content">CommVas is an innovative e-commerce platform designed exclusively for art enthusiasts and collectors. With a vast array of artworks spanning various styles, mediums, and genres, CommVas connects buyers with talented artists from around the globe. Whether you're searching for a breathtaking oil painting, a captivating digital illustration, or a stunning sculpture, CommVas has something to suit every taste and budget. CommVas stands as a beacon for art enthusiasts and collectors alike, offering a rich and diverse e-commerce platform dedicated to the world of fine art. Our mission is simple yet profound: to provide a space where creativity flourishes, artists thrive, and buyers discover the perfect piece to adorn their spaces.</p>

    <p class="about-content">Thank you for choosing us!</p>

    <!-- Add image -->
    <img class="about-image" src="~/Image/About.jpg" alt="Company Logo">

    <p class="about-content">BSIT 3A IMDBSYS</p>
    <p class="about-content">Developers:</p>
    <p class="about-content">John Andre Tac-an</p>
    <p class="about-content">Charles Lee Cahayagan</p>
    <p class="about-content">Kyle Dave Cabatas</p>
    <p class="about-content">Diogenes Guiritan Jr.</p>
</div>
